/* AuthLayout.css */
.auth-layout {
    display: flex;
    min-height: 100vh;
    width: 100%;
  }
  
  .auth-layout__left {
    display: none; /* Hidden on small screens */
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 3rem;
    background-image: linear-gradient(rgba(10, 104, 71, 0.8), rgba(122, 186, 120, 0.8)), url('https://wallpapers.com/images/hd/beautiful-countryside-agriculture-ho7hwjfzpuhqtvnm.jpg');
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  }
  
  .auth-layout__text-container {
    text-align: center;
    color: white;
  }
  
  .auth-layout__heading {
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: 1px;
  }
  
  .auth-layout__right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7; /* Set background color for the right side */
    padding: 3rem 1rem;
  }
  
  @media (min-width: 1024px) {
    .auth-layout__left {
      display: flex;
    }
  }
  